button
{
	background-color: #77BBBB;
	border: 1px solid #448888;
	float: right;
	margin-right: 10px;
}

button:hover{
	border: 1px solid #226666;
	background-color: #559999;
}

button.square{
	width: 24px;
	height: 24px;
	padding:0;
}

hr
{
	width: 65%;
	height: 3px;
	border: 0px;
	background-color: #222299;
	opacity: 0.7;
}

ul
{
	list-style-type: none;
	width: 100%;
	padding: 0;
}

li {padding: 5px;}

li a {display: block;}

li a:hover
{
	background-color: white;
	opacity: 0.9;
	width: 100%;
}

body{font-family: monospace;}

.URGENT{color: red; font-weight: bold;}
.deprec{color: #CCCCCC;}
.high{color: #EE4444;}
.done{color: #22FF22;}

#logo
{
	position: absolute;
	height: 100px;
	width: 190px;
	top: 0px;
	left: 0px;

	background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(0,0,0)),
	color-stop(0.2, rgb(67,176,171)),
	color-stop(0.4, rgb(130,184,191)),
	color-stop(0.9, rgb(252,255,255))
	);

	z-index: 100;
}

#options
{
	position: absolute;
	height: 100px;
	width: 600px;
	top: 0px;
	left: 190px;

	background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(67,176,171) 20%, rgb(130,184,191) 40%, rgb(252,255,255) 90%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(0,0,0)),
	color-stop(0.2, rgb(67,176,171)),
	color-stop(0.4, rgb(130,184,191)),
	color-stop(0.9, rgb(252,255,255))
	);
}

#navigation
{
	position: absolute;
	height: 640px;
	width: 190px;
	top: 100px;
	left: 0px;

	padding-top: 35px;

	background-image: linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(251,255,255)),
	color-stop(0.29, rgb(130,184,191)),
	color-stop(0.95, rgb(67,176,171)),
	color-stop(1, rgb(0,0,0))
	);
}

#tasks
{
	position: absolute;
	height: 650px;
	width: 230px;
	top: 100px;
	left:190px;

	padding-top: 35px;

	background-image: linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(251,255,255)),
	color-stop(0.29, rgb(130,184,191)),
	color-stop(0.95, rgb(67,176,171)),
	color-stop(1, rgb(0,0,0))
	);

}

#desc
{
	position: absolute;
	height: 650px;
	width: 370px;
	top: 100px;
	left: 420px;

	padding-top: 35px;

	background-image: linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(251,255,255) 0%, rgb(130,184,191) 29%, rgb(67,176,171) 95%, rgb(0,0,0) 100%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(251,255,255)),
	color-stop(0.29, rgb(130,184,191)),
	color-stop(0.95, rgb(67,176,171)),
	color-stop(1, rgb(0,0,0))
	);
}
