<div class="about">
	<div class="whole-article">
		<p>Undefined is a community of freelancers who aim at bringing you a new generation of web applications, 
		be it on you mobile device or on your desktop.</p>

		<p>Being very young and new, only a few of our <a href="products" data-href="products">products</a> are currently published,
		but we are actively working on new projects,
		subscribe to our <a href="news-feed" data-ext="true">news feed</a> to stay updated.</p>

		<p>Contact us at <a href="mailto://undef@undefined.re" data-ext="true">nil@undefined.re</a> for any jobs you need getting done,
		bug reports or feature requests on our products.</p>
	</div>
</div>
