<div class="whole-article">
	<div class="article-title">
		<a></a>
	</div>
	<div class="article-date">
	</div>
	<div class="admin">
	</div>
	<div class="article">
	</div>
	<hr class="light">
	<div class="tags">
	</div>
	<div class="authors">
	</div>
	<hr>
	<div class="comment-count">
		<a></a>
	</div>
	<div class="comments">
	</div>
	<!--
	<hr>
	<div class="social">
		<div class="g-plus href-set" data-action="share" data-annotation="none" data-height="24"></div>
	</div>
	-->
</div>

<div class="hack"></div>

<div class="comment_wrapper">
	<div class="comment">
		<hr>
		<span class="author">
		</span>
		<span class="date">
			<span class="date-birth"> </span>
			<span class="date-edit"> </span>
		</span>
		<div class="content">
		</div>
		<div class="edit">
		</div>
	</div>
</div>
