<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<!-- find out what this does: -->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<title></title>
		<link rel="stylesheet" href="/css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="/css/helper.css" type="text/css" />
		<link media="screen and (min-width: 900px)" rel="stylesheet" href="/css/style.css" type="text/css" />
		<link media="screen and (max-width: 899px)" rel="stylesheet" href="/css/style-narrow.css" type="text/css" />
		<script type="text/javascript">
			var CLOSURE_NO_DEPS = true;
		</script>
		<script type="text/javascript" src="/js/main.js" charset="utf-8"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-35228216-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();

		 </script>
	 </head>

	 <body>
		 <!--[if lt IE 7]>
		 <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		 <![endif]-->

		 <div id="nav-wrapper">
			 <div id="nav">
				 <span class="navli">
					 <a href="news"> News </a>
				 </span>
				 <span class="navli">
					 <a href="projects"> Projects </a>
				 </span>
				 <span class="navli">
					 <a href="blog"> Blog </a>
				 </span>
				 <span class="navli">
					 <a href="about"> About </a>
				 </span>
				 <span class="navli admin">
					 <a href="newarticle"> + </a>
				 </span>
				 <span id="user-info">
					 <!--
					 <img src="img/loading.gif" />
					 -->
				 </span>
			 </div>
		 </div>
		 <div id="page-wrapper-wrapper">
			 <div id="loading-wrapper">
			 </div>

			 <div id="page-content-wrapper">
				 <div id="page-wrapper">
				 </div>
				 <div id="page-right-wrapper">
				 </div>
			 </div>
		 </div>
	 </body>
 </html>
