<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="UTF-8" />
		<!-- find out what this does: -->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- -->
		<title></title>
		<link rel="stylesheet" href="/css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="/css/helper.css" type="text/css" />
		<link rel="stylesheet" href="/css/test.css" type="text/css" />
		<script type="text/javascript">
			var CLOSURE_NO_DEPS = true;
		</script>
		<script type="text/javascript" src="/js/main.js" charset="utf-8"></script>
	</head>

	<body>
		<div id="nav">
			<span class="navli">
				<a href="news"> News </a>
			</span>
			<span class="navli">
				<a href="products"> Products </a>
			</span>
			<span class="navli">
				<a href="blog"> Blog </a>
			</span>
			<span class="navli">
				<a href="about"> About </a>
			</span>
			<span id="loading">
				<!--
				<img src="img/loading.gif" />
				-->
			</span>
		</div>
		<div id="page-wrapper">
		</div>
	</body>
</html>
