<form class="login" action="/login" method="get">
	<fieldset id="login">
		<div>
			<label>Username:</label>
			<input class="user" id="inp_usr" type="text" name="username" />
		</div>
		<div>
			<label>Password:</label>
			<input class="pass" type="password" name="password" />
		</div>
		<input type="submit" value="Log In">
	</div>
</form>


<div class="profile">
	<div class="whole-article">
		<div class="article">Logged in as: Landolphia<br/>
			<a href="logout" class="logout">Log Out</a>
			Testing tests with test

		</div>
	</div>
</div>
