<form class="login" action="/login" method="get">
	<div class="whole-article">
		<div class="article">
			<fieldset id="login">
				<div class="article-title"></div>
				<input class="valid-inp" class="user" id="inp_usr" type="text" name="username" />
				<input class="valid-inp" class="pass" type="password" name="password" />
				<input class="valid-sub" type="submit" value="Log In">
				<button class="valid-sub" id="reset_pass">Reset password</button>
			</fieldset>
		</div>
		<hr>
		<div class="title"><a href="/sign-up">Sign Up</a></div>
	</div>
</form>


<div class="profile">
	<div class="whole-article">
		<div class="article">Logged in as: <span class="username"></span><br/>
			<a href="/logout" class="logout">Log Out</a>
		</div>
	</div>

	<div class="whole-article">
		<div class="article-title">Account administration</div>
		<hr>

		<div class="article">
			<div class="article-title">Change your password</div>
			<form id="update_pass">
				<fieldset>
					<input class="invalid-inp" type="password" id="cur_pass1" placeholder="Current password" />
					<input class="invalid-inp" type="password" id="new_pass" placeholder="New password" />
					<input class="invalid-inp" type="password" id="conf_pass" placeholder="Confirm password" />
					<input class="invalid-sub" disabled="disabled" type="submit" value="Confirm" id="submit-pass" />
				</fieldset>
			</form>
		</div>
		<div class="article-title" id="load_pass"></div>
		<hr>

		<div class="article">
			<form id="update_email">
				<div class="article-title">Update your email address</div>
				<fieldset>
					<input class="invalid-inp" type="password" id="cur_pass2" placeholder="Current password" />
					<input type="text" id="new_email" class="invalid-inp" />
					<input type="submit" value="Confirm" class="invalid-sub" disabled="disabled" id="submit-email" />
				</fieldset>
			</form>
		</div>
		<div class="article-title" id="load_email"></div>
		<hr>

		<div class="article">
			<div class="article-title">Delete your account</div>
			<form id="del_account">
				<input class="invalid-inp" type="password" id="cur_pass3" placeholder="Current password" />
				<input class="invalid-sub" type="submit" value="Delete Account" disabled="disabled" id="submit-del" />
			</form>
		</div>
		<div class="article-title" id="load_del"></div>
	</div>
</div>

<div class="sign-up">
	<div class="whole-article">
		<div class="article">
			<div class="article-title"></div>
			<form id="sign-up-form" action="/sign-up" method="get">
				<input class="invalid-inp" placeholder="Username" id="inp_usr" type="text" name="username" />
				<input class="invalid-inp" placeholder="Password" type="password" id="new_pass" />
				<input class="invalid-inp" placeholder="Password Confirmation" type="password" id="conf_pass" />
				<input class="invalid-inp" placeholder="Email Address" type="text" id="new_email" />
				<input class="invalid-sub" type="submit" value="Sign Up" disabled="disabled" id="submit-sign-up" />
			</form>
		</div>
		<hr>
		<div class="article">
			<ul>
				<li> Username must be at least 3 characters long and mustn't contain whitespace </li>
				<li> Password must be at least 8 characters long </li>
				<li> Email address will be used to activate your account </li>
				<li> Your username will be secured only once you have activated your account </li>
			</ul>
		</div>
	</div>
</div>
