<form class="newarticle">
	<div>
		<input class="inp_title" type="text" placeholder="title"></input>
	</div>
	<div>
		<textarea class="txt_body" placeholder="body"></textarea>
	</div>
	<div>
		<input class="inp_tags" type="text" placeholder="tags"></input>
		<br>
		<small>TAGS SHOULD BE SEPERATED BY SPACES.</small>
	</div>
	<fieldset>
		<legend>Authors</legend>
		<div class="cbx_authors"></div>
	</fieldset>
	<fieldset>
		<legend>Categories</legend>
		<div class="cbx_categories"></div>
	</fieldset>
	<div>
		<button type="submit" class="btn_add_article">Submit</button>
		<button type="reset" class="btn_rst">Reset</button>
	</div>
</form>


<form class="new-comment">
	<div>
		<textarea class="txt_body" placeholder="body"></textarea>
	</div>
	<div>
		<button type="submit" class="btn_add_comment">Submit</button>
		<button type="reset" class="btn_rst_comment">Reset</button>
	</div>
</form>
