<div id="reset">
	<div class="whole-article">
		<div class="article">
			<div class="article-title"></div>
			<form id="reset-pass-form" action="/login" method="get">
				<input class="invalid-inp" placeholder="New Password" type="password" id="new_pass" />
				<input class="invalid-inp" placeholder="Password Confirmation" type="password" id="conf_pass" />
				<input class="invalid-sub" type="submit" value="Reset password" disabled="disabled" id="submit-pass" />
			</form>
		</div>
		<div class="article-title" id="load_res"></div>
	</div>
</div>
