@import "style";


#page-right-wrapper {
	width: auto;
	float: none;
	@extend .shadow-margin;
}

#page-wrapper {
	width: auto;
	float: none;
}

#loading-wrapper {
	width: 100%;
}

.product {
	.product-screenshot {
		max-width: 100%;
		margin-right: 0px;
	}
}

#bottom {
	margin-right: 15px;
	margin-left: 15px;
}
