@import "style";


#page-right-wrapper {
	width: inherit;
	float: none;
}

#page-wrapper {
	width: inherit;
	float: none;
}

.product {
	.product-screenshot {
		max-width: 100%;
		margin-right: 0px;
	}
}
