@import "recipes/ui";
@import "recipes/background";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/user-interface";

$base-dark: #363;
$base-light: #393;
$base-lighter: #2a2;
$base-contrast-dark: #a22;
$base-dark-bg: #8c7;
$max-size: 1100px;

$dark-grey: #555;
$light-grey: #666;
$lighter-grey: #DDD;

$margin-size: 20px;

$rounded-big: 15px;
$rounded-small: 5px;
$rounded-smaller: 3px;

$shadow-col: #444;
$shadow-big: 10px;
$shadow-small: 5px;


///////////////////////////////////////////////////////////
// Helper classes:
///////////////////////////////////////////////////////////


.rounded-big {
	@include border-radius($rounded-big, $rounded-big);
}

.rounded-small {
	@include border-radius($rounded-small, $rounded-small);
}

.rounded-smaller {
	@include border-radius($rounded-smaller, $rounded-smaller);
}

.rounded-bottom {
	@include border-bottom-left-radius($rounded-big);
	@include border-bottom-right-radius($rounded-big);
}

.shadow-small {
	@include box-shadow($shadow-col 2px 2px 10px);
}

.shadow-big {
	@include box-shadow($shadow-col 4px 4px 20px);
}

.shadow-margin {
	margin: 15px;
}

.text-shadow {
	//@include single-text-shadow($base-lighter);
	@include single-text-shadow($dark-grey);
}

.padding-horiz {
	padding-left: 10px;
	padding-right: 10px;
}

.visible-border {
	border: 2px solid $base-light;
}

.visible-border-top {
	border-top: 2px solid $base-light;
}

.visible-border-bottom {
	border-bottom: 2px solid $base-light;
}

.hidden {
	display: none;
}

.visible {
	display: inline;
}

.small-center-dialog {
	margin: 50px auto;
	padding: 10px;
	width: 300px;
	@extend .visible-border;
	@extend .rounded-small;
	border: 4px solid grey;
	@extend .shadow-big;
}

.input-light {
	color: $base-lighter;
	background-color: $white;
	border-color: $light-grey;
	@extend .visible-border;
	@extend .rounded-smaller;
}


///////////////////////////////////////////////////////////
// Udefined:
///////////////////////////////////////////////////////////


body {
	color: $base-dark;
	//background: #222; -> too matrix
}

#nav-wrapper {
	@extend .visible-border-bottom;
	width: 100%;
}

#nav {
	margin: 0 auto;
	max-width: $max-size;
}

#nav a, #nav a:visited {
	padding: 3px;
	@extend .padding-horiz;
	color: $base-light;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	margin-left: 10px; // FIXME
	margin-right: 10px; // FIXME
}

#nav a:hover {
	color: $dark-grey;
}

#page-wrapper-wrapper {
	max-width: $max-size;
	margin: 0 auto;
	position: relative;
}

#page-right-wrapper {
	width: 29%;
	float: right;

	#right-content {
		margin: 30px;
		margin-top: 17px;
		ul {
			list-style-type: disc;
			color: $base-light;
		}
	}
}

#page-content-wrapper {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

#page-wrapper {
	width: 70%;
	float: left;
}

#page {
	min-height: 50px;
	margin-bottom: 2%;
	color: $dark-grey;
	overflow: hidden;
}

#loading-wrapper {
	@extend #page-wrapper;
	z-index: -1;
	position: absolute; top: 100px; left: 0px; margin: 0 auto;
	overflow: hidden;
}

#loading {
	width: 100%;
	padding-top: 50px;
	vertical-align:middle;
	text-align: center;
	position: relative;
	z-index: -1;
}

#title { 
	@extend .text-shadow;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: $base-lighter;
	@extend .shadow-margin;
	@extend .visible-border;
	@extend .shadow-small;
	@extend .rounded-small;
}

.title {
	@extend .text-shadow;
	@extend .shadow-margin;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: $base-lighter;
	margin-top: 5px;
}

.right-title {
	@extend #title;
	font-size: 18px;
}

// links in page:
a, a:visited {
	color: $base-light;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: $dark-grey;
}

hr {
	border: none;
	color: $base-light;
	background-color: $base-light;
	height: 2px;
	width: 100%;
}


///////////////////////////////////////////////////////////
// Articles:
///////////////////////////////////////////////////////////


.whole-article {
	@extend .visible-border;
	@extend .rounded-small;
	@extend .shadow-small;
	@extend .shadow-margin;
	padding-bottom: 10px; // remove if social comes back
	overflow: hidden;

	button {
		@extend .input-light; 
		margin: 5px;
	}

	.article-title {
		@extend .title;
	}

	.article-date, .tags, .categories, .authors {
		margin-left: 15px;
		margin-right: 15px;

		font-size: 13px;
		color: $light-grey;
	}

	.excerpt {
		//background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, black));
		//@include background-image(+linear-gradient(color-stops(transparent, white), bottom));
		//max-height: 100px; 
	}

	.article {
		@extend .shadow-margin;
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: justify;

		.code {
			font-family: 'Courier New', monospace;
			white-space: pre-wrap;
			word-wrap: break-word;
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 1%;
			background: $lighter-grey;
			//@extend .shadow-small;
		}
		.bold { font-weight: bold; }
		.it   { font-style: italic; }
		.underline { text-decoration: underline; }
	}

	.social {
		margin-top: 10px;
		@extend .shadow-margin;
	}
}


///////////////////////////////////////////////////////////
// projects:
///////////////////////////////////////////////////////////

.product {
	@extend .shadow-margin;
	text-align: justify;

	.product-screenshot {
		img { max-width: 100%; }
		max-width: 50%;
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
	}
}


///////////////////////////////////////////////////////////
// Login:
///////////////////////////////////////////////////////////


#login {
	input[type=text], input[type=password] {
		margin-top: 10px;
		width: 150px;
		font-weight: bold;
		@extend .input-light;
	}

	input[type=submit] {
		margin-left: 220px;
		margin-top: 20px;
		font-weight: bold;
		@extend .input-light;
	}

	input[type=text], input[type=password], label {display: inline-block;}
	label {width: 100px;}

	@extend .small-center-dialog;
}


///////////////////////////////////////////////////////////
// new article:
///////////////////////////////////////////////////////////


.newarticle {
	.inp_title { font-weight: bold;}
	.inp_tags { font-style: italic;}
	width: 80%;
	overflow: hidden;

	fieldset { margin-top: 10px; }
	button { margin-top: 20px; float: right;}

	input, textarea, button {
		padding: 5px;
		margin: 5px;
		@extend .input-light;
	}

	textarea { height: 300px; }
	input[type=text], textarea { width: 90%; margin-left: 5%; }

	// FIXME: not yet supported, will have to add a compass mixin for this;
	//input[placeholder], textarea[placeholder] { color: $light-grey; }

	@extend .small-center-dialog;
}
