/* line 33, ../../themes/style.scss */
.rounded-big {
  -webkit-border-radius: 15px 15px;
  -moz-border-radius: 15px / 15px;
  border-radius: 15px / 15px;
}

/* line 37, ../../themes/style.scss */
.rounded-small, .small-center-dialog, #login, .newarticle, #title, .whole-article {
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 41, ../../themes/style.scss */
.rounded-smaller, .input-light, #login input[type=text], #login input[type=password], #login input[type=submit], .newarticle input, .newarticle textarea, .newarticle button {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}

/* line 45, ../../themes/style.scss */
.rounded-bottom, #page {
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 50, ../../themes/style.scss */
.shadow-small, #title, .whole-article {
  -webkit-box-shadow: #444444 2px 2px 10px;
  -moz-box-shadow: #444444 2px 2px 10px;
  box-shadow: #444444 2px 2px 10px;
}

/* line 54, ../../themes/style.scss */
.shadow-big, .small-center-dialog, #login, .newarticle {
  -webkit-box-shadow: #444444 4px 4px 20px;
  -moz-box-shadow: #444444 4px 4px 20px;
  box-shadow: #444444 4px 4px 20px;
}

/* line 58, ../../themes/style.scss */
.text-shadow, #title, .whole-article .article-title {
  text-shadow: 0px 0px 1px #555555;
}

/* line 63, ../../themes/style.scss */
.padding-horiz, #nav a, #nav a:visited {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 68, ../../themes/style.scss */
.visible-border, .small-center-dialog, #login, .newarticle, .input-light, #login input[type=text], #login input[type=password], #login input[type=submit], .newarticle input, .newarticle textarea, .newarticle button, #page, #title, .whole-article {
  border: 2px solid #339933;
}

/* line 72, ../../themes/style.scss */
.visible-border-top {
  border-top: 2px solid #339933;
}

/* line 76, ../../themes/style.scss */
.visible-border-bottom, #nav {
  border-bottom: 2px solid #339933;
}

/* line 80, ../../themes/style.scss */
.hidden {
  display: none;
}

/* line 84, ../../themes/style.scss */
.visible {
  display: inline;
}

/* line 88, ../../themes/style.scss */
.small-center-dialog, #login, .newarticle {
  margin: 50px auto;
  padding: 10px;
  width: 300px;
  border: 4px solid grey;
}

/* line 98, ../../themes/style.scss */
.input-light, #login input[type=text], #login input[type=password], #login input[type=submit], .newarticle input, .newarticle textarea, .newarticle button {
  color: #22aa22;
  background-color: white;
  border-color: #666666;
}

/* line 112, ../../themes/style.scss */
body {
  color: #336633;
}

/* line 116, ../../themes/style.scss */
#nav {
  width: 100%;
}

/* line 121, ../../themes/style.scss */
#nav a, #nav a:visited {
  padding: 3px;
  color: #339933;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

/* line 132, ../../themes/style.scss */
#nav a:hover {
  color: #22aa22;
}

/* line 136, ../../themes/style.scss */
#loading {
  width: 100%;
  padding-top: 50px;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: -1;
}

/* line 145, ../../themes/style.scss */
#page {
  width: 92%;
  margin-left: 2%;
  padding-left: 2%;
  margin-right: 2%;
  padding-right: 2%;
  min-height: 50px;
  margin-bottom: 2%;
  padding-top: 15px;
  padding-bottom: 5px;
  border-top: 0px;
  color: #555555;
  overflow: hidden;
}

/* line 166, ../../themes/style.scss */
#title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #22aa22;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 181, ../../themes/style.scss */
a, a:visited {
  color: #22aa22;
  text-decoration: none;
}

/* line 186, ../../themes/style.scss */
a:hover {
  color: #353;
}

/* line 196, ../../themes/style.scss */
.whole-article {
  width: 98%;
  padding: 1%;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
}
/* line 206, ../../themes/style.scss */
.whole-article .article-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #22aa22;
  margin-top: 5px;
}
/* line 215, ../../themes/style.scss */
.whole-article .article-date, .whole-article .tags, .whole-article .categories, .whole-article .authors {
  font-size: 13px;
  color: #666666;
}

/* line 227, ../../themes/style.scss */
.product-desc {
  width: 60%;
  float: right;
}

/* line 232, ../../themes/style.scss */
.product-screenshot {
  width: 40%;
  float: left;
}

/* line 244, ../../themes/style.scss */
#login input[type=text], #login input[type=password] {
  margin-top: 10px;
  width: 150px;
  font-weight: bold;
}
/* line 251, ../../themes/style.scss */
#login input[type=submit] {
  margin-left: 220px;
  margin-top: 20px;
  font-weight: bold;
}
/* line 258, ../../themes/style.scss */
#login input[type=text], #login input[type=password], #login label {
  display: inline-block;
}
/* line 259, ../../themes/style.scss */
#login label {
  width: 100px;
}

/* line 270, ../../themes/style.scss */
.newarticle {
  width: 80%;
}
/* line 271, ../../themes/style.scss */
.newarticle #inp_title {
  width: 50%;
  font-weight: bold;
}
/* line 272, ../../themes/style.scss */
.newarticle #inp_tags {
  width: 80%;
  font-style: italic;
}
/* line 273, ../../themes/style.scss */
.newarticle #txt_body {
  width: 65%;
  height: 150px;
}
/* line 274, ../../themes/style.scss */
.newarticle fieldset {
  margin-top: 10px;
}
/* line 275, ../../themes/style.scss */
.newarticle button {
  margin-top: 20px;
  float: right;
}
/* line 277, ../../themes/style.scss */
.newarticle input, .newarticle textarea, .newarticle button {
  padding: 5px;
  margin: 5px;
}
