/* line 34, ../../themes/style.scss */
.rounded-big {
  -webkit-border-radius: 15px 15px;
  -moz-border-radius: 15px / 15px;
  border-radius: 15px / 15px;
}

/* line 38, ../../themes/style.scss */
.rounded-small, .small-center-dialog, #login, .newarticle, #title, .whole-article {
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 42, ../../themes/style.scss */
.rounded-smaller, .input-light, .whole-article button, #login input[type=text], #login input[type=password], #login input[type=submit], .newarticle input, .newarticle textarea, .newarticle button {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}

/* line 46, ../../themes/style.scss */
.rounded-bottom {
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 51, ../../themes/style.scss */
.shadow-small, #title, .whole-article {
  -webkit-box-shadow: #444444 2px 2px 10px;
  -moz-box-shadow: #444444 2px 2px 10px;
  box-shadow: #444444 2px 2px 10px;
}

/* line 55, ../../themes/style.scss */
.shadow-big, .small-center-dialog, #login, .newarticle {
  -webkit-box-shadow: #444444 4px 4px 20px;
  -moz-box-shadow: #444444 4px 4px 20px;
  box-shadow: #444444 4px 4px 20px;
}

/* line 59, ../../themes/style.scss */
.text-shadow, #title, .whole-article .article-title {
  text-shadow: 0px 0px 1px #555555;
}

/* line 64, ../../themes/style.scss */
.padding-horiz, #nav a, #nav a:visited {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 69, ../../themes/style.scss */
.visible-border, .small-center-dialog, #login, .newarticle, .input-light, .whole-article button, #login input[type=text], #login input[type=password], #login input[type=submit], .newarticle input, .newarticle textarea, .newarticle button, #title, .whole-article {
  border: 2px solid #339933;
}

/* line 73, ../../themes/style.scss */
.visible-border-top, .whole-article .social {
  border-top: 2px solid #339933;
}

/* line 77, ../../themes/style.scss */
.visible-border-bottom, #nav, .whole-article .article {
  border-bottom: 2px solid #339933;
}

/* line 81, ../../themes/style.scss */
.hidden {
  display: none;
}

/* line 85, ../../themes/style.scss */
.visible {
  display: inline;
}

/* line 89, ../../themes/style.scss */
.small-center-dialog, #login, .newarticle {
  margin: 50px auto;
  padding: 10px;
  width: 300px;
  border: 4px solid grey;
}

/* line 99, ../../themes/style.scss */
.input-light, .whole-article button, #login input[type=text], #login input[type=password], #login input[type=submit], .newarticle input, .newarticle textarea, .newarticle button {
  color: #22aa22;
  background-color: white;
  border-color: #666666;
}

/* line 113, ../../themes/style.scss */
body {
  color: #336633;
}

/* line 117, ../../themes/style.scss */
#nav {
  width: 100%;
}

/* line 122, ../../themes/style.scss */
#nav a, #nav a:visited {
  padding: 3px;
  color: #339933;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

/* line 133, ../../themes/style.scss */
#nav a:hover {
  color: #555555;
}

/* line 137, ../../themes/style.scss */
#loading {
  width: 100%;
  padding-top: 50px;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: -1;
}

/* line 146, ../../themes/style.scss */
#page-wrapper-wrapper {
  max-width: 1100px;
}

/* line 148, ../../themes/style.scss */
#page-right-wrapper {
  width: 29%;
  float: right;
}

/* line 153, ../../themes/style.scss */
#page-wrapper {
  width: 70%;
  float: left;
}

/* line 158, ../../themes/style.scss */
#page {
  min-height: 50px;
  margin-bottom: 2%;
  color: #555555;
  overflow: hidden;
}

/* line 177, ../../themes/style.scss */
.shadow-margin, #title, .whole-article, .whole-article .article-title, .whole-article .article, .whole-article .social {
  margin: 15px;
}

/* line 181, ../../themes/style.scss */
#title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #22aa22;
}

/* line 199, ../../themes/style.scss */
a, a:visited {
  color: #339933;
  font-weight: bold;
  text-decoration: none;
}

/* line 205, ../../themes/style.scss */
a:hover {
  color: #555555;
}

/* line 215, ../../themes/style.scss */
.whole-article {
  overflow: hidden;
}
/* line 226, ../../themes/style.scss */
.whole-article button {
  margin: 5px;
}
/* line 232, ../../themes/style.scss */
.whole-article .article-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #22aa22;
  margin-top: 5px;
}
/* line 242, ../../themes/style.scss */
.whole-article .article-date, .whole-article .tags, .whole-article .categories, .whole-article .authors {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
  color: #666666;
}
/* line 257, ../../themes/style.scss */
.whole-article .article {
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
}
/* line 265, ../../themes/style.scss */
.whole-article .article .code {
  font-family: 'Courier New', monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1%;
  background: #dddddd;
}
/* line 275, ../../themes/style.scss */
.whole-article .article .bold {
  font-weight: bold;
}
/* line 276, ../../themes/style.scss */
.whole-article .article .it {
  font-style: italic;
}
/* line 277, ../../themes/style.scss */
.whole-article .article .underline {
  text-decoration: underline;
}
/* line 281, ../../themes/style.scss */
.whole-article .social {
  padding-top: 10px;
  margin-top: 10px;
}

/* line 296, ../../themes/style.scss */
.product-desc {
  width: 60%;
  float: right;
  text-align: justify;
}

/* line 302, ../../themes/style.scss */
.product-screenshot {
  width: 40%;
  float: left;
}

/* line 314, ../../themes/style.scss */
#login input[type=text], #login input[type=password] {
  margin-top: 10px;
  width: 150px;
  font-weight: bold;
}
/* line 321, ../../themes/style.scss */
#login input[type=submit] {
  margin-left: 220px;
  margin-top: 20px;
  font-weight: bold;
}
/* line 328, ../../themes/style.scss */
#login input[type=text], #login input[type=password], #login label {
  display: inline-block;
}
/* line 329, ../../themes/style.scss */
#login label {
  width: 100px;
}

/* line 340, ../../themes/style.scss */
.newarticle {
  width: 80%;
  overflow: hidden;
}
/* line 341, ../../themes/style.scss */
.newarticle .inp_title {
  font-weight: bold;
}
/* line 342, ../../themes/style.scss */
.newarticle .inp_tags {
  font-style: italic;
}
/* line 346, ../../themes/style.scss */
.newarticle fieldset {
  margin-top: 10px;
}
/* line 347, ../../themes/style.scss */
.newarticle button {
  margin-top: 20px;
  float: right;
}
/* line 349, ../../themes/style.scss */
.newarticle input, .newarticle textarea, .newarticle button {
  padding: 5px;
  margin: 5px;
}
/* line 355, ../../themes/style.scss */
.newarticle textarea {
  height: 300px;
}
/* line 356, ../../themes/style.scss */
.newarticle input[type=text], .newarticle textarea {
  width: 90%;
  margin-left: 5%;
}

/* line 4, ../../themes/style-narrow.scss */
#page-right-wrapper {
  width: inherit;
  float: none;
}

/* line 9, ../../themes/style-narrow.scss */
#page-wrapper {
  width: inherit;
  float: none;
}

/* line 14, ../../themes/style-narrow.scss */
.product-desc {
  width: inherit;
  float: none;
}

/* line 19, ../../themes/style-narrow.scss */
.product-screenshot {
  width: inherit;
  float: none;
}
