::selection{background-color: #77DD55;}

body {
	/* background: #393; */
	color: #a22;
	padding: 0;
	margin: 0;
}


#page {
	background: #DDD;
	width: 92%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	min-height: 50px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 15px;
	padding-bottom: 5px;
}

#nav {
	width: 100%;
	background: #363;
	padding: 0;
	margin: 0;
	/*
	position: fixed;
	top: 0;
	 */
}

#nav a {
	vertical-align:middle;
	border-radius: 5px;
	background: #353;
	margin-left: 20px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: white;
}

#nav a:hover {
	color: #fff;
	/*background: #363;*/
	background: #2a2;
}

#loading {
	padding-top: 50px;
	vertical-align:middle;
	text-align: center;
	width: 100%;
	position: fixed;
	z-index: -1;
}

.hidden {
	display: none;
}

.visible {
	display: inline;
}

.whole-article {
	background: #FFF;
	width: 100%;
	border-radius: 5px;
	padding: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
}

.article-title {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #2a2;
	margin-top: 5px;
}

.article-date {
	font-size: 13px;
	color: #666;
}

#title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

a, a:visited {
	color: #2a2;
	text-decoration: none;
}
a:hover {
	color: #353;
}

.product-desc {
	width: 60%;
	float: right;
}

.product-screenshot {
	width: 40%;
	float: left;
}

#page, .whole-article{
	box-shadow: 5px 5px 5px #444;
	overflow: hidden;
}

/**************/
/* Login page */
/**************/

#login input[type=text], input[type=password] {
	margin-top: 10px;
	width: 150px;
	background-color: #88CC77;
	border: 4px solid #449933;
	border-radius: 3px;
}

#login input[type=text], input[type=password], label {display: inline-block;}

#login input[type=submit] {
	margin-left: 220px;
	margin-top: 20px;
}

#login label {width: 100px;}

#login {
	margin: 50px auto;
	padding: 10px;
	width: 300px;
	border: 4px solid grey;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 20px 20px 20px #335522;
}

/********************/
/* Add article page */
/********************/

.newarticle form {
	margin: 10px;
}

.newarticle label {width: 70px;}

.newarticle small {
	margin-left: 85px;
}

.newarticle div {
	display: block;
	vertical-align: middle;
}

.newarticle input, textarea, button {
	padding: 5px;
	margin: 5px;
	background-color: #88CC77;
	border: 4px solid #449933;
	border-radius: 3px;
}

#inp_title { width: 50%; font-weight: bold;}

#inp_tags { width: 80%; font-style: italic;}

#txt_body { width: 65%; height: 150px;}

.newarticle fieldset {
	margin-top: 10px;
}

.newarticle button { margin-top: 20px; float: right;}

.newarticle {
	margin: 50px auto;
	padding: 10px;
	width: 500px;
	border: 4px solid grey;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 20px 20px 20px #335522;
}
