
body {
	background: #393;
	color: #a22;
	padding: 0;
	margin: 0;
}


#page {
	background: #DDD;
	width: 92%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	min-height: 50px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 15px;
	padding-bottom: 5px;
}

#nav {
	width: 100%;
	background: #363;
	padding: 0;
	margin: 0;
}

#nav a {
	vertical-align:middle;
	border-radius: 5px;
	background: #353;
	margin-left: 20px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: white;
}

#nav a:hover {
	color: #fff;
	/*background: #363;*/
	background: #2a2;
}

#loading img {
	padding-top: 5px;
	padding-right: 15px;
	float: right;
	vertical-align:middle;
}

.hidden {
	display: none;
}

.visible {
	display: inline;
}

.whole-article {
	background: #FFF;
	width: 100%;
	border-radius: 5px;
	padding: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;

	box-shadow: 5px 5px 5px #444;
}

.article-title {
	text-align: center;
	font-size: 18px;
	text-weight: bold;
	color: #2a2;
}

.article-date {
	font-size: 13px;
	color: #666;
}

#title {
	text-align: center;
	font-size: 20px;
	text-weight: bold;
}

a, a:visited {
	color: #2a2;
	text-decoration: none;
}
a:hover {
	color: #353;
}

.product-desc {
	width: 60%;
	float: right;
}

.product-screenshot {
	width: 40%;
	float: left;
}

#page, .whole-article{
	box-shadow: 10px 10px 10px #444;
}
